@model DoAnWeb.Models.SuKien

@{
    ViewBag.Title = "Details";
}
<link href="@Url.Content("~/Content/henshin.css")" rel="stylesheet" type="text/css" />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Thời kỳ diễn ra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiKy.TenThoiKy)
        </dd>

        <dt>
            @Html.DisplayName("Hình mô tả")
        </dt>
        @foreach (var item in ViewBag.Img)
        {
            <dd>
                 <img src="~/Content/Image/SuKien/@item" style="image-rendering:optimizeQuality" title="char" />
            </dd>
        }
        <dt>
            @Html.DisplayName("Các nhân vật lịch sử")
        </dt>

        <dd>
            @foreach (var id in ViewBag.Id)
            {
                <a style="text-decoration:none" href="@Url.Action("Details", "NhanVatLS", new { id = id })">
                    @foreach (var item in ViewBag.lstItem)
                    {
                        if (item.IdNV == id)
                        {
                            <span>@item.TenNhanVat</span>
                        }
                    }
                </a>
            }
        </dd>

        <dt>
            @Html.DisplayName("Sự kiện")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNoiDung)
        </dd>

        <dt>
            @Html.DisplayName("Diễn biến sự kiện")
        </dt>

        <dd>
            @foreach (string text in ViewBag.Data)
            {
                <h4>@text</h4>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index", "User")
</p>
